<div>
  <h1><%= customer.fullname %></h1>

    <% unless customer.image.empty?%>
      <%= image_tag(customer.image, :alt => customer.fullname) %>
    <% end %>
    <p><%= customer.phone%></p>
    <p><%= customer.email%></p>
    <p><%= customer.notes%></p>
</div>
